.css-twia2z-MuiPaper-root-MuiDialog-paper {
  background-color: #d2d2d2 !important;
  border-radius: 10px;
}

.css-twia2z-MuiPaper-root-MuiDialog-paper h2 {
  font-family: 'Outfit', sans-serif !important;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}
.popup-subtitle {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 165%;
  font-family: 'Open Sans', sans-serif;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.popup-form label {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.popup-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #fff;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.popup-input:focus {
  border-color: #007bff;
}

.popup-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  color: #525252;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.popup-select option {
  font-size: 14px;
  color: #525252;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.popup-button {
  background: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  padding: 12px;
  cursor: pointer;
  margin-top: 24px;
  transition: background 0.3s ease;
}

.popup-button:hover {
  background: #0056b3;
}

.popup-success {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

/*Button para selecionar o tipo de extorno*/
.selected-type {
  display: flex;
  margin-bottom: 1rem;
}
.selected-type button {
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
  font-family: 'Open Sans', sans-serif;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: white;
}
.selected-type button.active {
  background: #0056b3;
  color: #fff;
}
.type-button_1 {
  border-radius: 10px 0 0 10px;
}
.type-button_2 {
  border-radius: 0 10px 10px 0;
}

.popup-button:focus,
.selected-type button:focus,
.selected-type button:focus-visible {
  outline: none;
}
